.playlist {
    margin-top: 50px;
}

.playlist h1{
    border-bottom: 5px solid rgb(235, 0, 31);
}

.tablePlaylist {
    margin: 0 auto;
    text-align: left;
    border-spacing: 30px 10px;
}

.playlist input, 
.playlist textarea {
    width: 100%;
    padding: 10px 15px;
    border-radius: 40px;
    resize: none;
}

.playlist button {
    margin-left: 5px;
    background-color: rgba(190, 12, 36, 0.8);
    color: white;
    border-radius: 40px;
    padding: 10px;
    font-weight: bold;
  }
  
.playlist button:hover {
    cursor: pointer;
    background-color: rgb(185, 29, 29);
}